name: Build with latest dependencies

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]

        steps:
            - uses: actions/checkout@v6.0.1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm uninstall rxjs @morgan-stanley/needle uuid
            - run: npm install rxjs@^7 @morgan-stanley/needle@^0 uuid@^13
            - run: npm ls @morgan-stanley/needle uuid rxjs
            - run: npm run build:release
