name: Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install node modules and verify build
        run: npm install && npm run build-release

      - name: Lint and test
        run: npm run lint && npm run test

      - name: Publish
        run: npm publish --provenance --access public
